@tailwind base;
@tailwind components;
@tailwind utilities;

.work_sans {
  font-family: var(--font-work_sans);
}
.xanh_mono {
  font-family: var(--font-xanh_mono);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scroll-behavior: smooth;
}